body{
    background-color:  #0d1117;
    color: white;
}
h1{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}
h2{
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    color: blanchedalmond;
}
p{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    color: rgb(179, 177, 177);
}
pre{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    color: rgb(179, 177, 177);
}
.text-box{
    background: #161b22;
    border: 2px solid #30363d;
    border-radius: 15px;
    width: 90%;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(88, 166, 255,0.3);
}
.code-box{
    background: #161b22;
    border: 2px solid #30363d;
    border-radius: 15px;
    width: 50%;
    height: 50%;
    margin: 50px auto;
    box-shadow: 0 0 10px rgb(135, 134, 134);
}
.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(229, 229, 229, 0.588);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    z-index: 1000;
}
.back-btn:hover {
    background-color: rgba(89, 88, 88, 0.677);
    transform: scale(1.05);
} 